		<container>
			<div id="intro">
				<h1>Welcome to month.ly</h1>
				<p>URL Shortener</p>
			<div>

					<form id="bar" class="form-inline" action="/urls" method = "post">
						<input id="form-bootstrap-overrides" class="form-control input-lg" type="text" placeholder="Paste your URL here" name="long_url">
					<button class="btn btn-default btn-lg sharp" type="shorten" value="Submit">SHORTEN</button>
				</form>
				<p id="error"><%= @error %></p>
				
			
			<div class="row row-centered">
			  <div class="col-md-4">
			  	<span class="glyphicon glyphicon-copy iconformat"></span>
			  	<p2>Copy and paste your link</p2>
			  </div>
			  <div class="col-md-4">
			    <span class="glyphicon glyphicon-chevron-up iconformat"></span>
			  	<p2>Click shorten</p2>
			  </div>
			  <div class="col-md-4">
			 		<span class="glyphicon glyphicon-globe iconformat"></span>
			  	<p2>Share this month.ly link!</p2>
			  </div>
			</div>

			<div class="recent_list">

				<p>Recent shortened URLs here!</p>

					<table class="table table-hover">
					  <thead>
					    <tr>
					      <th>Month.ly</th>
					      <th>URL</th>
					      <th>Count</th>
					    </tr>
					  </thead>
					  <tbody>
					    <% @urls.each do |url|%>
						    <tr>
						      <td><a href="<%= url.short_url%>"><%= url.short_url%></a></td>
						      <td><%= url.long_url%></td>
						      <td><%= url.click_count%></td>
						    </tr>
					   <%end%>
					  </tbody>
					</table>
		</container>

